<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumuitest">
 
    <test name="seleniumuitest" preserve-order="true" verbose="3">
        <packages>
            <package name="com.test.demo.LanchTest />
        </packages>
    </test>

</suite>